.backdrop{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  display:grid;
  place-items:center;
  z-index:1000;
}
.panel{
  width:566px;
  height: 510px;
  background:#fff;
  border-radius:30px;
  box-shadow:0 10px 30px rgba(0,0,0,.2);
  padding:20px;
  position:relative;
}
.close{

  height: 16px;
  
  position:absolute;
  top:8px;
  right:10px;
  border:2.5px;
  background:transparent;
  font-size:45px;
  cursor:pointer;
  line-height:1;
  color: #191a15;
}
