.bar {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}
.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.brand {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-decoration: none;
  color: #191a15;
}
.brand em {
  font-family: "Inter", sans-serif;
  color: #3470ff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}
.nav {
  display: flex;
  gap: 18px;
  align-items: center;
}
.link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #191a15;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 8px;
}
.linkActive {
  background: #eef2ff;
  color: #1d4ed8;
}
.right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user {
  font-size: 14px;
  color: #374151;
}
.btn {
  font-family: "Inter", sans-serif;
  width: 124px;
  height: 48px;
  gap: 8px;
  padding: 0 14px;
  border-radius: 30px;
  border: 1px solid #000000;
  background: #fdfeff;
  color: #191a15;
  cursor: pointer;
}
.btnGhost {
  background: #fff;
  color: #2563eb;
}
.btnReg{
    font-family: "Inter", sans-serif;
  width: 171px;
  height: 48px;
  gap: 8px;
  padding: 0 14px;
  border-radius: 30px;
  border: 1px solid #000000;
  background: #3470ff;
  color: #fbfbfb;
  cursor: pointer;
}
